<div ng-class="$root.collapse?'pullin':'pushout'" ng-init="init();" style="margin-right: 20px;">
        <div style="margin-left:10px;background-color:#fff; padding:1px 30px;">
          <div>
            <h2 style="font-weight: 600; font-size: 21px;line-height:35px; letter-spacing: 1.05px;">Account Billing</h2>
            <p style="font-size: 13px;">With the current status of Account. You can see billing information in real time and pay invoices online if they are due. To save money click "change" next to the package term and upgrade to a longer package term a discounted price. </p>
            <h4 style="    line-height: 30px;
            margin-top: 15px;
            font-weight: 600;
            letter-spacing: 1.0px;">Credit card</h4>
            <p style="font-size: 13px;">Below is the credit card information on file for the payments to your account. To use a different card for payments please click the Add credit card button</p>
            <br/>
            <div class="table-responsive">
              <table class="table-hover table-striped table">
                <thead>
                  <th>Type</th>
                  <th>Card Number</th>
                  <th>Expiration</th>
                  <th>Date Added</th>
                  <th>Class</th>
                  <th>Recurring Billing</th>
                </thead>
                <tbody>
                  <tr>
                    <td>Master Card</td>
                    <td>4767XXXXXX5775</td>
                    <td>11/2020</td>
                    <td>12/19/2017</td>
                    <td>Active / Primary</td>
                    <td>Yes</td>
                  </tr>
                  <tr>
                      <td>Master Card</td>
                      <td>4767XXXXXX5775</td>
                      <td>11/2020</td>
                      <td>12/19/2017</td>
                      <td>Active / Primary</td>
                      <td>Yes</td>
                    </tr>
                </tbody>
              </table>
              <button class="btn btn-primary">Add a Credit card</button>
              <div class="table-responsive">
                <h3>Packages</h3>
                <table class="table table-hover table-striped">
                  <thead>
                    <th>#</th>
                    <th width="200">Package Name</th>
                    <th>Term</th>
                    <th>Base Price</th>
                    <th>Discount</th>
                    <th>Bill Date</th>
                    <th>Opened</th>
                    <th>Closed</th>
                  </thead>
                  <tbody>
                    <tr>
                      <td>13350</td>
                      <td>Marketing/ Analytics</td>
                      <td>1 <a>Edit</a></td>
                      <td>$19.00</td>
                      <td>100%</td>
                      <td>05/28/18</td>
                      <td>05/28/18</td>
                      <td></td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="table-responsive">
                  <h3>Invoices</h3>
                  <table class="table table-hover table-striped">
                    <thead>
                      <th>#</th>
                      <th>Amount</th>
                      <th>Created</th>
                      <th>Due Date</th>
                      <th>Paid Date</th>
                      <th>View</th>
                    </thead>
                    <tbody>
                      <tr>
                        <td>213350</td>
                        <td>$149.00</td>
                        <td>05/28/18</td>
                        <td>05/28/18</td>
                        <td>05/28/18</td>
                        <td><a>View</a></td>
                      </tr>
                      <tr>
                          <td>213350</td>
                          <td>$149.00</td>
                          <td>05/28/18</td>
                          <td>05/28/18</td>
                          <td>05/28/18</td>
                          <td><a>View</a></td>
                        </tr>
                    </tbody>
                  </table>
                </div>
            </div>
          </div>
        </div>
      </div>