<nav class="navbar navbar-default header-nav-custom  no-mar" ng-init="init()" ng-show="$root.getShowstatus();" style="position: fixed;width: 100%; top: 0px;">
	<div class="container-fluid" ng-class = "" style="width:100%;">
	<div class="content_inner fx_tp_header">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" id="nav_btn" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<!-- <a href="" id="nav_toggle" ng-click="toggleClick()" placeholder="$root.userObject.loginStatus == true && $root.userModules.length!=0">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>
			<a class="navbar-brand logo" ng-click="$root.redierctToState();" ng-hide="$root.userModules.length!=0"> <img ng-src="{{LOGO_URL}}"> </a> -->
		</div>
		<img src="{{logoUrl}}" class="pull-left img-responsive" width="200" style="margin:8px;"/>
		<ul class="nav-menu pull-right unhide" ng-show="$root.userLoginStatus==true" id="main_nav">
				<li>
						<span style="background-image: url('{{NAV_BTN_BG_IMG_ACTIVE}}')">TOOLSUITE</span>
					</li>
					<li>
						<span style="background-image: url('{{NAV_BTN_BG_IMG}}')"> &nbsp; &nbsp; TRAINING&nbsp; &nbsp;</span>
					</li>
					<li>
						<span style="background-image: url('{{NAV_BTN_BG_IMG}}')">&nbsp; &nbsp;FEEDBACK&nbsp; &nbsp;</span>
					</li>
					<li>
						<span style="background-image: url('{{NAV_BTN_BG_IMG}}')"> &nbsp; &nbsp;  SUPPORT &nbsp; &nbsp; </span>
					</li>
					<li>
						<a ui-sref="main.profile"><span style="background-image: url('{{NAV_BTN_BG_IMG}}')">MY ACCOUNT</span></a>
					</li>
					<li ng-click="$root.logout();">
						<span style="background-image: url('{{NAV_BTN_BG_IMG}}');padding:13px 34px;"> LOGOUT</span>
					</li>
					
		</ul>

		<div class="collapse navbar-collapse hidenav" id="bs-example-navbar-collapse-1" style="height:100%; min-height: 350px; display:block;">
			<ul class="nav navbar-nav navbar-right"
			placeholder="$root.userObject.loginStatus == '1'" style="background:#ccc;height:100%;min-height: 350px;"
			ng-show="$root.userLoginStatus==true">
				<li>
					<span >TOOLSUITE</span>
				</li>
				<li>
					<span> &nbsp; &nbsp; TRAINING&nbsp; &nbsp;</span>
				</li>
				<li>
					<span>&nbsp; &nbsp;FEEDBACK&nbsp; &nbsp;</span>
				</li>
				<li>
					<span> &nbsp; &nbsp;  SUPPORT &nbsp; &nbsp; </span>
				</li>
				<li>
					<a ui-sref="main.profile"><span>MY ACCOUNT</span></a>
				</li>
				<li ng-click="$root.logout();">
					<span > LOGOUT</span>
				</li>
				
			</ul>
		</div>
	</div>
	</div>
</nav>

<div class="second_nav" id="side_nav" ng-show="$root.userLoginStatus==true">
	<div class="mega_menu_sc">
		<ul>
			<li class="title main_ntitle">
				<a class="navbar-brand logo1" ng-click="$root.redierctToState();">
					
				</a>
			</li>
			<li class="title main_ntitle" placeholder="showMainModule('so')"> <img ng-src="{{NAV_BTN_BG_IMG}}"/> <span style="display: inline; position: relative; right: 150px; color: #fff; font-size:16px; font-size: 19px; top: 2px;">TOOL SUITE</span></li>			
			<li style="border:1px solid #ccc;" class="title main_ntitle" placeholder="showMainModule('mar')" ng-click="plclick=!!!plclick"> PLACEMENT SEARCH <i class="fa" ng-class="plclick?'fa-caret-down':'fa-caret-up'"></i></li>
			<a href="/toolsuite"><li ng-style="{'display':plclick?'none':'block'}" class="dr_tit dropdown-btn" placeholder="showMainModule('mar_sub')" ng-class="showActive('mar_sub') ? 'tab cc' : ''">By Video</li></a>
			<a href="/toolsuite/by-video"><li ng-style="{'display':plclick?'none':'block'}"class="dr_tit dropdown-btn" placeholder="showMainModule('mar_led')" ng-class="showActive('mar_led') ? 'tab cc' : ''">By Channel</li>
			<li ng-style="{'display':plclick?'none':'block'}"class="dr_tit dropdown-btn" placeholder="showMainModule('mar_led')" ng-class="showActive('mar_led') ? 'tab cc' : ''">By Keyword</li>
			<li style="border:1px solid #ccc;"class="title main_ntitle" placeholder="showMainModule('mar')"> PLACEMENT LISTS</li>
			<li style="border:1px solid #ccc;" class="title main_ntitle" placeholder="showMainModule('mar')"> KEYWORD SEARCH</li>
			<li style="border:1px solid #ccc;" class="title main_ntitle" placeholder="showMainModule('mar')"> KEYWORD LISTS</li>
		</ul>
	</div>
</div>

<script>
	$(document).ready(function() {
		$("#nav_btn").click(function() {
			$("#bs-example-navbar-collapse-1").hasClass("hidenav") ?
			$("#bs-example-navbar-collapse-1").removeClass("hidenav"):
			$("#bs-example-navbar-collapse-1").addClass("hidenav");
		})
		if ($(window).width() > (767)) {
			$(".navbar-nav>li").css("float","left !important");
			$(".navbar-nav>li").css("display","none !important");
		} else {
			$(".navbar-nav>li").css("float","left !important");
			$(".navbar-nav>li").css("display","block !important");
		}
	})
</script>


