<nav class="navbar navbar-default header-nav-custom  no-mar" ng-init="init();plclick=getActiveStatus();" ng-show="$root.getShowstatus();" style="position: fixed;width: 100%; top: 0px;">
	<div class="container-fluid" ng-class="" style="width:100%;">
		<div class="content_inner fx_tp_header">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" id="nav_btn" data-toggle="collapse" data-target="#main_nav">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<img src="{{logoUrl}}" class="pull-left img-responsive" width="200" style="margin: 5px 11.5px;" />
			<ul class="nav-menu pull-right unhide" ng-show="$root.userLoginStatus==true || $state.current.name!='main.login'" id="main_nav">
				<li ng-class="$state.current.url.indexOf('toolsuite')>=0 ? 'active':''">
					<a style="">
						<i>
							<img ng-src="{{navImages[0]}}" style="height: auto;" class="img-responsive" />
						</i>Tool Suite</a>
				</li>
				<li>
					<a style="">
						<i>
							<img ng-src="{{navImages[1]}}" style="height: auto;" class="img-responsive" />
						</i>Training</a>
				</li>
				<li>
					<a style="">
						<i>
							<img ng-src="{{navImages[2]}}" style="height: auto;" class="img-responsive" />
						</i>Feedback</a>
				</li>
				<li>
					<a style="">
						<i>
							<img ng-src="{{navImages[3]}}" style="height: auto;" class="img-responsive" />
						</i>Support </a>
				</li>
				<li style="border-left: 1px solid #eee; border-right: 1px solid #eee;">
					<a style="">
						<i>
							<img ng-src="{{navImages[4]}}" style="height: auto;" class="img-responsive" />
						</i> My Account </a>
				</li>
				<li ng-click="$root.logout();">
					<a style="">
						<i>
							<img ng-src="{{navImages[5]}}" style="height: auto;" class="img-responsive" />
						</i>Logout</a>
				</li>
			</ul>
		</div>
	</div>
</nav>

<div class="second_nav" id="side_nav" ng-show="$root.userLoginStatus==true|| $state.current.name!='main.login'"
ng-class="$root.collapse ? 'pullback':''" style=" box-shadow:  -6px 1px 50px rgba(0,0,0,.15); transition: .2s ease-out">
	<div class="mega_menu_sc">
		<ul>
			<li class="title main_ntitle">
				<a class="navbar-brand logo1" ng-click="$root.redierctToState();">

				</a>
			</li>
			<li class="title main_ntitle" placeholder="showMainModule('so')">
				<img ng-src="{{$root.sideNavActImg}}" />
				<span style="display: inline; position: relative; font-weight: 800; color: #000; font-size: 31.69px;
				top: -2%; line-height: 100px;" ng-bind="$root.sideNavHeading"></span><br/>
				<span ng-bind="$root.getSideNavSubHeading();" style="position: relative; top: -29px; left: 20%; font-size:14px;"></span>
			</li>

			<a ui-sref="main.keywordSearch" ui-sref-active="active" ng-click="plclick=false;"><li class="sd_nav_left title main_ntitle"
			 placeholder="showMainModule('mar')"> Keyword Search</li></a>

			<li class="sd_nav_left title main_ntitle"
			 placeholder="showMainModule('mar')" ng-click="plclick=!!!plclick"> Placement Search
				<i>
					<img ng-if="plclick" src="../assets/images/Uppng.png" style="padding:5px;" class="pull-right"/>
				</i>
				<i>
					<img ng-if="!plclick" src="../assets/images/Downpng.png" style="padding:5px;"  class="pull-right"/>
				</i></li>
				<div></div>
				<a ui-sref="main.placementSearchbyvideo" ui-sref-active="active">
					<p ng-style="{'display':plclick?'block':'none'}" style="padding: 10px 27px; border-bottom: 1px solid rgba(0,0,0,.05);;" class="dr_tit dropdown-btn" placeholder="showMainModule('mar_sub')"
					 ng-class="showActive('mar_sub') ? 'tab cc' : ''">
						<span>
							<img src="../assets/images/videopng.png" />
						</span>
						<span style="margin:10px;">By Video</span>
					</p>
				</a>
				<a ui-sref="main.placementSearchbyChannel" ui-sref-active="active">
					<p ng-style="{'display':plclick?'block':'none'}" style="padding: 10px 27px; border-bottom: 1px solid rgba(0,0,0,.05);" class="dr_tit dropdown-btn" placeholder="showMainModule('mar_sub')"
					 ng-class="showActive('mar_sub') ? 'tab cc' : ''">
						<span>
							<img src="../assets/images/channelpng.png" />
						</span>
						<span style="margin:10px;">By Channel</span>
					</p>
				</a>
				<a ui-sref="main.placementSearchbyKeyword" ui-sref-active="active">
					<p ng-style="{'display':plclick?'block':'none'}" style="padding: 10px 27px; border-bottom: 1px solid rgba(0,0,0,.05);" class="dr_tit dropdown-btn" placeholder="showMainModule('mar_sub')"
					 ng-class="showActive('mar_sub') ? 'tab cc' : ''">
						<span>
							<img src="../assets/images/Keywordpng.png" />
						</span>
						<span style="margin:10px;">By Keyword</span>
					</p>
				</a>
				<a ui-sref="main.channelSearch" ui-sref-active="active">
					<p ng-style="{'display':plclick?'block':'none'}" style="margin:0; padding: 10px 27px; border-bottom: 1px solid rgba(0,0,0,.05);" class="dr_tit dropdown-btn" placeholder="showMainModule('mar_sub')"
					 ng-class="showActive('mar_sub') ? 'tab cc' : ''">
						<span>
							<img src="../assets/images/Channel Searchpng.png" />
						</span>
						<span style="margin:10px;">Channel Search</span>
					</p>
				</a>
			</li>
			<a ui-sref="main.keywordLists" ui-sref-active="active" ng-click="plclick=false;"><li class="sd_nav_left title main_ntitle"
			 placeholder="showMainModule('mar')"> Keyword Lists</li>
			 </a>
			<a ui-sref="main.placementLists" ui-sref-active="active" ng-click="plclick=false;"><li class="sd_nav_left title main_ntitle"
			 placeholder="showMainModule('mar')"> Placement Lists</li></a>
		</ul>
	</div>
	<div>
		<img src="../assets/images/Leftclosepng.png" class="collapser leftin" ng-class="$root.collapse?'rotate180 ':''" ng-style="{'left' : $root.collapse ? '0px' : '244px'}"
		 ng-click="$root.collapse=!!!$root.collapse;"/>
	</div>
</div>

<script>
	$(document).ready(function () {
		if ($(window).width() < 992) $(".unhide").css("display", "none");
		else $(".unhide").css("display", "block");
		$("#nav_btn").click(function () {
			$(".unhide").toggleClass("mob_hider");
			if ($(window).width() < 992) {
				if (!$('.unhide').hasClass("mob_hider")) {
					$(".unhide").css("display", "none");
				} else $(".unhide").css("display", "block");
			}
		})
		$("#side_nav").mCustomScrollbar({
			setHeight: 130,
			theme: "minimal-dark",
			mouseWheelPixels: 600,
			mouseWheel: {
				preventDefault: !0
			}
		});
	})
	$(window).resize(function () {
		if ($(window).width() < 992) $(".unhide").css("display", "none"); else { $(".unhide").css("display", "block"); $(".unhide").removeClass("mob_hider"); }
	})
</script>