<div class="loginbg" style="background-image: url('{{$root.LOGIN_BG}}');background-color: #aaa;">
    <!-- <h2 class="login-head" style="margin-top:150px;text-align: center; color:#fff">SIGN IN</h2> -->
    <div class="col-md-offset-3 col-md-6 col-xs-12 col-sm-offset-2 col-sm-8 mt11p login-content ng-scope" ng-init="init();">
        <div class="logo_wrapper">
            <img class="img-center" src="./assets/images/Logopng.png">
        </div>
        <br/>
        <form name="login">
            <div class="login_top" style="box-shadow: 1px 14px 57px 0px; -moz-box-shadow:1px 14px 57px 0px; -webkit-box-shadow: 1px 14px 57px 0px;">
                <label for="email">Email</label>
                <input class="login_input" style="border-radius: 4px; margin-bottom:12px;" type="text" name="email" ng-model="user.email"
                    placeholder="Enter Your Email Here" />
                <br/>
                <label for="password">Password</label>
                <input class="login_input" style="border-radius: 4px; margin-bottom:20px;" type="password" name="password" ng-model="user.password"
                    placeholder="Enter Your Password Here" />
                <input type="checkbox" class="filled-in" id="app_" ng-model="keepmesign" ng-change="" style="height:24px;  ">
                <label class="checkbox_editable lgn_checkbox" for="app_" style="font-weight: normal !important; font-size: 14px !important; color:#777;padding-left:30px;">Remember me</label>
                <a class="thm_link forgot_resp pa col-md-push-6 col-xs-push-6 col-sm-push-6 col-lg-push-7">Forgot Your Password?</a>
                <button class="btn btn-danger logn-btn" type="submit" ng-click="doLogin(user, keepmesign);">Log in</button>
                <span style="min-height: 30px; margin:0 auto; position: relative; top:10px; left:30%; color:#c20d14;" ng-show="lgnError" ng-bind="lgnError"></span>
            </div>
        </form>
        <div class="mt50">
            <div style="margin: 0 auto; text-align: center; color: #fff; font-weight: 300; opcity:0.8; letter-spacing: .6px;">
                Don't have an account yet? &nbsp;<a ui-sref="main.register">Sign up</a>&nbsp; here
            </div>
        </div>
    </div>
</div>