<div ng-class="$root.collapse?'pullin':'pushout'" ng-init="init();">
    <div class="row">
        <div class="card" style="margin-left: 30px; margin-right:30px; background: #fff;">
            <div class="row ">
                <div>
                    <label style="margin-left: 30px;
                    width: 95%;
                    background: #cfe8cf;
                    padding: 15px;
                    margin-top: 5px;">New Notification from Smart Ad Roll</label><br/>
                    <div class="col-md-1" style="padding: 5px; margin:15px; border:1px solid #ccc; margin-left: 30px;">
                            <i class="fa fa-bell fa-4x"></i>
                        </div>
                        <div class="col-md-9 px-3">
                            <div class="card-block px-3">
                                <p class="card-text">Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                                    enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                    consequat. </p>
                                <a href="#" class="btn btn-info" style="margin-bottom: 5px;">Read More</a>
                            </div>
                        </div>
                </div>
            </div>
        </div>
        <div class="clear" style="clear: both;"></div>
        <br/><br/>
        <div class="card" style="margin-left: 30px; margin-right:30px; background: #fff;">
                <div class="row ">
                    <div>
                        <label style="margin-left: 30px;
                        width: 95%;
                        background: #cfd4e8;
                        padding: 15px;
                        margin-top: 5px;">Notification from Smart Ad Roll</label><br/>
                        <div class="col-md-1" style="padding: 5px; margin:15px; border:1px solid #ccc; margin-left: 30px;">
                                <i class="fa fa-bell fa-4x"></i>
                            </div>
                            <div class="col-md-9 px-3">
                                <div class="card-block px-3">
                                    <p class="card-text">Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                                        enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                        consequat. </p>
                                    <a href="#" class="btn btn-info" style="margin-bottom: 5px;">Read More</a>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
    </div>
</div>