<div ng-class="$root.collapse?'pullin':'pushout'" ng-init="init();" style="margin-right: 20px;">
    <div style="margin-left:10px;background-color:#fff; padding:1px 30px;">
        <div>
            <div class="table-responsive">
                <label style="margin-top:30px; font-size: 16px;">Users</label>
                <table class="table-hover table-striped table">
                    <thead>
                        <th>Name</th>
                        <th>Email Address</th>
                        <th>Recent Login</th>
                        <th>Total Credits</th>
                        <th>Status</th>
                        <th>Is Recurring User?</th>
                        <th>Actions</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Ganesh</td>
                            <td>ganeshn@gmail.com</td>
                            <td>11-04-2018 09:52</td>
                            <td>$25</td>
                            <td>Active</td>
                            <td>Yes</td>
                            <td><a>Change Account</a></td>
                        </tr>
                        <tr>
                            <td>Ganesh</td>
                            <td>ganeshn@gmail.com</td>
                            <td>11-04-2018 09:52</td>
                            <td>$25</td>
                            <td>Active</td>
                            <td>Yes</td>
                            <td></td>
                        </tr>
                        <tr>
                                <td>Ganesh</td>
                                <td>ganeshn@gmail.com</td>
                                <td>11-04-2018 09:52</td>
                                <td>$25</td>
                                <td>Active</td>
                                <td>Yes</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Ganesh</td>
                                <td>ganeshn@gmail.com</td>
                                <td>11-04-2018 09:52</td>
                                <td>$25</td>
                                <td>Active</td>
                                <td>Yes</td>
                                <td></td>
                            </tr><tr>
                                    <td>Ganesh</td>
                                    <td>ganeshn@gmail.com</td>
                                    <td>11-04-2018 09:52</td>
                                    <td>$25</td>
                                    <td>Active</td>
                                    <td>Yes</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Ganesh</td>
                                    <td>ganeshn@gmail.com</td>
                                    <td>11-04-2018 09:52</td>
                                    <td>$25</td>
                                    <td>Active</td>
                                    <td>Yes</td>
                                    <td></td>
                                </tr><tr>
                                        <td>Ganesh</td>
                                        <td>ganeshn@gmail.com</td>
                                        <td>11-04-2018 09:52</td>
                                        <td>$25</td>
                                        <td>Active</td>
                                        <td>Yes</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Ganesh</td>
                                        <td>ganeshn@gmail.com</td>
                                        <td>11-04-2018 09:52</td>
                                        <td>$25</td>
                                        <td>Active</td>
                                        <td>Yes</td>
                                        <td></td>
                                    </tr><tr>
                                            <td>Ganesh</td>
                                            <td>ganeshn@gmail.com</td>
                                            <td>11-04-2018 09:52</td>
                                            <td>$25</td>
                                            <td>Active</td>
                                            <td>Yes</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>Ganesh</td>
                                            <td>ganeshn@gmail.com</td>
                                            <td>11-04-2018 09:52</td>
                                            <td>$25</td>
                                            <td>Active</td>
                                            <td>Yes</td>
                                            <td></td>
                                        </tr><tr>
                            <td>Ganesh</td>
                            <td>ganeshn@gmail.com</td>
                            <td>11-04-2018 09:52</td>
                            <td>$25</td>
                            <td>Active</td>
                            <td>Yes</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Ganesh</td>
                            <td>ganeshn@gmail.com</td>
                            <td>11-04-2018 09:52</td>
                            <td>$25</td>
                            <td>Active</td>
                            <td>Yes</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>