<div ng-class="$root.collapse?'pullin':'pushout'" ng-init="init();">
        <div class="row filter_wrap">
            <div class="col-md-6 col-sm-12">
                <div class="filter_wrap_left di">
                    <span class="di w200 fw500" style="letter-spacing: 0.25px">Placement Search</span>
                    <span>By Channel</span>
                    <!-- <h5 class="di w120" style="font-weight: 400">By Video</h5> -->
                </div>
                <div class="w200 di search_wrp">
                    <input type="text" class="form-control di sea" placeholder="Enter the Video Url/ID Here.." ng-model="search1" />
                </div>
            </div>
            <div class="col-md-6 col-sm-12" style="padding-left:0px !important;">
                <div class="col-md-2"></div>
                <div class="col-md-4">
                    <label style="margin-top:14px;">Max Results</label>
                    <select class="di selecti">
                        <option>50</option>
                    </select>
                </div>
                
                <div class="dib pull-right">
                    <button ng-click="search=search1" class="btn-lg btn-filter-search">
                        <i class="fa fa-search"></i> Search</button>
                </div>
                <div class="dib pull-right" ng-click="toggleSettings=!!!toggleSettings;" style="cursor: pointer;">
                    <span>
                        <img class="di" style="padding:5px;" ng-src="{{toggleSettings?'../../../../assets/images/Uppng.png':'../../../../assets/images/Downpng.png'}}"
                        />
                    </span>
                    <label class="dib" style="cursor: pointer; width:80px;top: 7px; position: relative;">Advanced Settings</label>
                </div>
            </div>
        </div>
        <div class="filter_wrap" style="padding-top:25px;" ng-if="toggleSettings">
            <form class="form-inline">
                <div class="form-group col-md-6">
                    <label for="email">Language</label>
                    <select class="form-control" style="width:76%;" ng-model="filter.lang">
                        <option value="" selected>Any</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label for="email">License</label>
                    <select class="form-control" style="width:76%;" ng-model="filter.lang">
                        <option value="" selected>Any</option>
                    </select>
                </div>
                <br/>
                <div class="clearfix" style="width:100%; height:24px;"></div>
                <div class="form-group col-md-6">
                    <label for="email">Language</label>
                    <select class="form-control" style="width:76%;" ng-model="filter.lang">
                        <option value="" selected>Any</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label for="email">License</label>
                    <select class="form-control" style="width:76%;" ng-model="filter.lang">
                        <option value="" selected>Any</option>
                    </select>
                </div>
                <br/>
                <div class="clearfix" style="width:100%; height:24px;"></div>
                <div class="form-group col-md-6">
                    <label for="email">Language</label>
                    <select class="form-control" style="width:76%;" ng-model="filter.lang">
                        <option value="" selected>Any</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label for="email">License</label>
                    <select class="form-control" style="width:76%;" ng-model="filter.lang">
                        <option value="" selected>Any</option>
                    </select>
                </div>
                <br/>
                <div class="clearfix" style="width:100%; height:24px;"></div>
    
            </form>
        </div>
        <br/>
        <br/>
    
        <div class="filter_wrap" style="border-radius:8px;">
                <div style="margin:8px 5px;">
                    <label class="di fw500" style="margin:6px;font-size:1rem;letter-spacing:.5px;">Search Results</label>
                    <div class="di" ng-show="totalCount>pageSize" style="line-height: 45px; padding-left:15px; font-size: 14px;color: #888;">Viewing {{pageSize}} entries
                        <span>show </span>
                        <select style="height: 31px; width: 57px; color: #666; border-radius: 3px; padding: 5px;">
                            <option>All</option>
                        </select>
                    </div>
                    <div class="pull-right" style="padding-right: 7px;">
                        <button class="btn btn-success btn-table-suc" data-toggle="modal" data-target="#addToList">
                            <span>
                                <img src="../../assets/images/check.png" />
                            </span> Add to List</button>
                        <button class="btn btn-info btn-table-inf" data-toggle="modal" data-target="#getKeywordsModal">
                            <span>
                                <img src="../../assets/images/link.png" />
                            </span> Get Keywords</button>
                        <button class="btn btn-warning btn-table-war" ng-click="$root.exportTable('pl_search_by_video','csv','keyword-search');">
                            <span>
                                <img src="../../assets/images/download.png" />
                            </span> Export</button>
                    </div>
                    <div class="clearfix"></div>
                    <div class="table-responsive" style="padding:8px;">
                    <table class="table table-striped table-hover table-bordered">
                        <thead>
                            <th width=39>
                                <input type="checkbox" class="filled-in" id="app_" ng-model="keepmesign" ng-change="">
                                <label class="checkbox_editable" for="app_" style="font-weight: normal !important; font-size: 14px !important;"></label>
                            </th>
                            <th width=39 style="padding:15px;">#</th>
                            <th>Video</th>
                            <th>Title</th>
                            <th>Views</th>
                            <th><img style="width:21px;opacity:.75" src="../../assets/images/Thumbsup.png"></th>
                            <th><img style="width:21px;opacity:.75" src="../../assets/images/Thumbsdown.png"></th>
                            <th><img style="width:21px;opacity:.75" src="../../assets/images/Comments.png"></th>
                            <th>Published Date</th>
    
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in results">
                                <td><input type="checkbox" class="filled-in" id="app_" ng-model="keepmesign" ng-change="">
                                    <label class="checkbox_editable" for="app_" style="font-weight: normal !important; font-size: 14px !important;"></label>
                                </td>
                                <td>1</td>
                                <td>
                                    <img src="https://www.foxsports.com.au/pmd/images/2017/11/12/652014_640x360_large_20171112101243.jpg" width="80" height="50"/>
                                </td>
                                <td><span ng-bind="'Enter the new dragon new scenes. Bruce lee at agrressive looks'"></span>
                                    <br/>
                                    <img src="../../assets/images/Channel.png"/> <a ng-href="{{vid.channelUrl}}" target="_blank"> {{'China Series'}} </a> &nbsp; &nbsp;
                                    <img src="../../assets/images/Video.png"/> <a ng-href="{{vid.videoUrl}}" target="_blank"> Go to Video</a> &nbsp;
                                    <img src="../../assets/images/Desc.png"/> &nbsp;
                                    <img src="../../assets/images/MonetizedOn.png"/>
                                </td>
                                </td>
                                <td>580</td>
                                <td>580</td>
                                <td>580</td>
                                <td>580</td>
                                <td>January 24, 2018 </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>